.card-column {
    display: grid; /* Utilisation d'une grille */
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
    gap: 20px; /* Espacement entre les cartes */
    justify-content: center; /* Centre la grille horizontalement */
    align-items: start; /* Aligne les cartes en haut */
    border-radius: 8px;
    width: 95%;
    margin: 2%;
}

.card-column-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px; /* Espacement interne */
}

.card-column-item:hover {
    transform: scale(1.05); /* Zoom sur survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.card-column-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Maintient les proportions de l'image */
}
