/*TODO faire une class css sur la page globale*/

.gameboard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%; /* S'assure que le chat utilise 80% de l'espace parent */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Un peu de marge verticale */
    padding: 10px;
}

.end-turn-container {
    margin: 20px 3px; /* Marge verticale autour du bouton */
}

.turn-indicator {
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Marge verticale */
    padding: 10px;
    background-color: #f9f9f9; /* Couleur de fond */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}