body {
    background: black;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 90%; /* Prend 90% de la largeur parent */
    max-width: 1900px; /* Largeur maximale */
    margin: 0 auto; /* Centre horizontalement */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff; /* Fond blanc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.board-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.cards-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Les cartes peuvent aller à la ligne */
    gap: 20px; /* Espacement entre les cartes */
    justify-content: center; /* Centrer les cartes dans le conteneur */
}

.energy {
--energy: 0%;

width: 40px;
height: 40px;
margin: 1em 0;
border-radius: 5px;
border: 1px solid #fff;
/* padding: 3px 3px; */
box-shadow: 0 0 5px #aaa;
position: relative;
cursor: pointer;
overflow: hidden;
}

.energy .bar {
width: var(--energy);
height: 100%;
background: linear-gradient(gold, #c85, gold);
background-repeat: repeat;
box-shadow: 0 0 10px 0px orange;
animation: 
    shine 4s ease-in infinite,
    end 1s ease-out 1;
transition: width 3s ease;
}

@property --energy {
syntax: "<length>";
initial-value: 0%;
inherits: true;
}

@keyframes shine {
0% { background-position: 0 0; }
100% { background-position: 0 50px; }
}

@keyframes end {
0%, 100% { box-shadow: 0 0 10px 0px orange; }
50% { box-shadow: 0 0 15px 5px orange; }
}